.navbar {
  font-family: "Lexend", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  width: 710px;
  opacity: 0px;
  justify-content: end;
  color: #5b5a5a;
}
